################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DH.NCore
/Bin
/.vs/ProjectEvaluation
/DH.NCore/obj
/XUnitTest.Core/obj
/DH.NSecurity/obj
/Samples/Zero.HttpServer/obj
/Samples/Zero.Server/obj
/Test/obj
/Test2/obj
/DH.NCore/X组件.txt
/Samples/Zero.EchoServer/obj
/Samples/Zero.Desktop/obj
