################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# Visual Studio
/.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet
/packages
*.nuspec
*.nupkg

# User-specific files
*.user

# Data and Logs
/Data
/Log
*.log
[Ll]og/

# HTML files
*.htm

# Config
[Cc]onfig/

# Benchmark
BenchmarkDotNet.Artifacts/

# Project-specific
/DH.NCore/X组件.txt

.codeartsdoer